@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin:0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-strong {
    color: #22D4FD;
}

.presentation {
    display: flex;
    align-items: center;
    margin: 5%;
}

.presentation__container {
    width: 615px;
    margin-right: 1rem;
}

.presentation__title {
    margin-top: 2rem;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    margin-bottom: 1rem;
}

.presentation__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
}

.presentation__media {
    width: 280px;
    background-color: #22D4FD;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
    text-decoration: none;
    color: black;
}

/* * {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1rem;
}

div img {
    max-width: 100%;
    height: auto;
}


.title-strong {
    color: #22D4FD;
}

a {
    background-color: #22d4fd;
    padding: 1rem;
    border: #981717;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5rem 0;
}

div#links {
    display: block;
} */